<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>user</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="users">
      {{#user}}
        <a href='/user/{{id}}' class="user" >
          <div>
            <img src="{{avatar}}" height:150 width:150>
            <h3>{{name}}</h3>
            <h4>{{#job}}{{job}},{{/job}} {{company}}</h4>
            <h4 id="available">{{^job}}Available for Work{{/job}}</h4>
          </div>
        </a>
      {{/user}}
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
